In [25]:
import pandas as pd
from bs4 import BeautifulSoup
import os
import re
from pathlib import Path

In [39]:
path = 'data/html_job_postings'

filenames = []
filedata = []

for filename in os.listdir(path):
    if filename.endswith('.html'):
        file_content = Path(path+"/"+filename).read_text()
        filenames.append(f)
        filedata.append(file_content)
    else:
        continue
        
data = {
    'filenames': filenames,
    'filedata': filedata,
}

html_df = pd.DataFrame(data, columns=['filenames', 'filedata'])
html_df

,filenames,filedata
0,1e92960a19ffdd34_fccid.html,<html><head><title>Quantitative Analyst - Bost...
1,1e92960a19ffdd34_fccid.html,<html><head><title>Data Scientist - Mountain V...
2,1e92960a19ffdd34_fccid.html,"<html><head><title>Data Scientist - Seattle, W..."
3,1e92960a19ffdd34_fccid.html,<html><head><title>Senior Natural Language Pro...
4,1e92960a19ffdd34_fccid.html,<html><head><title>FLEXO FOLDER GLUER OPER - M...
...,...,...
1333,1e92960a19ffdd34_fccid.html,<html><head><title>Data Scientist - Birmingham...
1334,1e92960a19ffdd34_fccid.html,<html><head><title>Senior Data Scientist - Tem...
1335,1e92960a19ffdd34_fccid.html,<html><head><title>New College Grad - Cybersec...
1336,1e92960a19ffdd34_fccid.html,"<html><head><title>Decision Science Manager, M..."
1337,1e92960a19ffdd34_fccid.html,"<html><head><title>Data Scientist - Bellevue, ..."

In [41]:
html_df.drop_duplicates(subset="filedata", keep=False, inplace=True)
html_df

,filenames,filedata
0,1e92960a19ffdd34_fccid.html,<html><head><title>Quantitative Analyst - Bost...
1,1e92960a19ffdd34_fccid.html,<html><head><title>Data Scientist - Mountain V...
2,1e92960a19ffdd34_fccid.html,"<html><head><title>Data Scientist - Seattle, W..."
3,1e92960a19ffdd34_fccid.html,<html><head><title>Senior Natural Language Pro...
4,1e92960a19ffdd34_fccid.html,<html><head><title>FLEXO FOLDER GLUER OPER - M...
...,...,...
1333,1e92960a19ffdd34_fccid.html,<html><head><title>Data Scientist - Birmingham...
1334,1e92960a19ffdd34_fccid.html,<html><head><title>Senior Data Scientist - Tem...
1335,1e92960a19ffdd34_fccid.html,<html><head><title>New College Grad - Cybersec...
1336,1e92960a19ffdd34_fccid.html,"<html><head><title>Decision Science Manager, M..."
1337,1e92960a19ffdd34_fccid.html,"<html><head><title>Data Scientist - Bellevue, ..."

In [53]:
title = []
body = []
bullets = []
links = []

remove_new_lines = lambda x: [i.replace('\n','') for i in x]

for index, row in html_df.iterrows():
    soup = BeautifulSoup(row["filedata"])
    if soup.title is not None:
        title.append(soup.title.text)
    else:
        continue
    body.append(soup.body)
    post_links = []
    for link in soup.find_all('a'):
        post_links.append(link.get('href'))
        print(link.get('href'))
    links.append(post_links)
    bullets.append([''.join(remove_new_lines(bullet.text)) for bullet in  soup.find_all('li')])

final_data = {
    'title': title,
    'body': body,
    'bullets': bullets,
    'links': links,
}

final_df = pd.DataFrame(final_data, columns=['title', 'body', 'bullets', 'links'])
final_df

,title,body,bullets,links
0,"Quantitative Analyst - Boston, MA 02116","[[Quantitative Analyst - Boston, MA 02116], \n...",[],[]
1,"Data Scientist - Mountain View, CA","[[Data Scientist - Mountain View, CA], \n, [Gr...","[Help senior members of the team to explore, d...",[]
2,"Data Scientist - Seattle, WA","[[Data Scientist - Seattle, WA], \n, [A Bachel...",[A Bachelor or Masters Degree in a highly quan...,[]
3,Senior Natural Language Processing (NLP) Engin...,[[Senior Natural Language Processing (NLP) Eng...,[Join a small team creating a proprietary NLU ...,[]
4,"FLEXO FOLDER GLUER OPER - McClellan, CA - McCl...","[[FLEXO FOLDER GLUER OPER - McClellan, CA - Mc...",[],[]
...,...,...,...,...
1316,"Data Scientist - Birmingham, AL 35233","[[Data Scientist - Birmingham, AL 35233], \n, ...",[],[]
1317,"Senior Data Scientist - Tempe, AZ","[[Senior Data Scientist - Tempe, AZ], \n, [[Ci...",[Independently develop advanced analytics and ...,[]
1318,New College Grad - Cybersecurity (Masters Degr...,[[New College Grad - Cybersecurity (Masters De...,"[Advanced Degree (e.g. Masters, MBA, JD, MD, o...",[]
1319,"Decision Science Manager, Media Mix Modeling -...","[[Decision Science Manager, Media Mix Modeling...",[As a Decision Science Manager for media mix m...,[]
1320,"Data Scientist - Bellevue, WA","[[Data Scientist - Bellevue, WA], \n, [Experie...",[Experienced in handling large data sets using...,[]

In [54]:
final_data["bullets"][6]

['Languages: Python, PySpark, SQL',
 'Data Tools: Spark, AWS RedShift, AWS Athena, pandas, numpy, scipy, parquet',
 'Modeling Tools: SparkML, scikit-learn, Tensorflow, Tensorflow-Serving, Keras (Tensorflow and Theano backend)',
 'Algorithms: Classifications, Regressions, Neural Networks, Time series, Graphs',
 'Visualization: Tableau or similar',
 'Infrastructure: AWS (including S3, EMR, EC2, Lambda)',
 'Understand business decisions that need to be supported by data e.g. risk of readmission to hospital',
 'Identify relevant internal or external data sources for various business needs',
 'Research the state of a problem and existing solutions then quickly summarize research',
 'Help identify new business opportunities and value propositions from existing data',
 'Utilize raw or aggregated data to build predictive models in SPARK, sql, or Python',
 'Understand quality of models and impact on business problems',
 'Communicate summaries of analyses and predictive modeling efforts to product and business teams',
 'Communicate insights to stakeholders in data engineering, product and clinical teams.',
 'Become expert on projects to help strategize plans of attack in terms of technology and team education.',
 'Ensure that all security procedures within their area of responsibility are carried out to achieve compliance with security policies and standards.',
 'Leading multiple initiatives across both existing and innovative work',
 'Provide continuous mentoring to junior resources',
 '4+ year’s professional experience as a data scientist or machine learning engineer',
 '4+ year’s professional experience working in quantitative computational role',
 '2+ year’s professional experience working with big data and relational databases',
 'Very strong knowledge of advanced applied data science (machine learning, neural networks, etc.), mathematical modeling, computational, statistical, data mining techniques (regression, decision trees, clustering etc.), as well as dimensionality reduction techniques',
 'Strong hands-on modeling experience in a business environment with a goal of productionalizing models.',
 'Strong experience using machine learning and deep learning packages',
 'Strong experience with data manipulation, analysis and visualization',
 'Proven track record of fully understanding the scope, commitment to quality, and end-to-end ownership to meet upon agreed timelines.',
 'Quick learner that can manage multiple projects at the same time successfully',
 'Developed and designed real-time prediction software',
 'Strong experience mentoring junior colleagues',
 'Excellent written and verbal communication skills',
 'Advanced degree in physics, applied mathematics, statistics or related field is preferred',
 'Healthcare industry experience is a plus']